@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/images/phone1_1400.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 1309px) and (max-width: 1400px) {
    .background-image {
      background-image: url(./assets/images/phone1_1400.jpg);
    }
  }

  @media (min-width: 1089px) and (max-width: 1308px) {
    .background-image {
      background-image: url(./assets/images/phone1_1308.jpg);
    }
  }

  @media (min-width: 781px) and (max-width: 1088px) {
    .background-image {
      background-image: url(./assets/images/phone1_1088.jpg);
    }
  }

  @media (min-width: 201px) and (max-width: 780px) {
    .background-image {
      background-image: url(./assets/images/phone1_780.jpg);
    }
  }

  @media (max-width: 200px) {
    .background-image {
      background-image: url(./assets/images/phone1_200.jpg);
    }
  }
}

.container {
  width: 350px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  padding: 12px;
}

.title {
  text-align: center;
  color: white;
  &-not-first {
    margin-top: 30px;
  }
}

.form-label {
  color: white;
}

.form-input {
  border: none;
  &:focus {
    border: 1px solid rgb(38, 171, 248);
    outline: 1px solid rgb(38, 171, 248);
    box-shadow: 0px 0px 8px 4px rgba(15, 191, 250, 0.7);
  }
}

.btn-wrapper {
  display: flex;
}

.btn-fit-space {
  flex: 1;
}
